.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  grid-gap: 20px; 
}

.grid-item {
  width: 100%; 
}

.flex-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
}

.flex-item {
  width: calc(50% - 10px); 
}

body {
  background-color: #CFC1A7;
}

img#logo {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.header__navegacao {
  background-color: #6e4321;
  padding: 10px 20px;
}

.header__navegacao ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header__navegacao ul li {
  display: inline-block;
  margin-right: 20px;
}

.header__navegacao ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

.header__navegacao ul li a:hover {
  background-color: #8c5d35;
}

.bio {
  padding: 100px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
}

.confeiteira {
  padding: 20px;
  text-align: center;
}

.confeiteira img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;  
}

.footer {
  background-color: #6e4321;
  padding: 1px 20px;
  text-align: center;
  color: #fff;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  display: inline-block;  
  margin-right: 20px;
}

.footer ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

.footer ul li a:hover {
  background-color: #8c5d35;
}

.custom-carousel-img {
  max-height: 400px; 
  object-fit: cover;
}

.produtos {
  margin-top: 20px;
  font-family: 'Pacifico', cursive;  
  text-align: center;
}

.quem-somos {
  margin-top: 20px;
  font-family: 'Pacifico', cursive;  
  text-align: center;
}

.contatos {
  margin-top: 20px;
  font-family: 'Pacifico', cursive;  
  text-align: center;
}

#sobre {
  padding: 20px; 
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: left;
}

#formulario-contato {
  font-family: 'Open Sans', sans-serif;
}

.card-img-top {
  height: 520px; 
  cursor: pointer;
}

.add-to-cart {
  background-color: #6e4321; /* Cor desejada */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.add-to-cart:hover {
  background-color: #563314; /* Tom mais escuro da cor desejada */
}

.cart-icon {
  font-size: 1.5em;
  color: white;
}

.card {
  margin-bottom: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-message {
  display: none;
  position: fixed;
  top: 10px;
  right: 50%;
  transform: translateX(50%);
  z-index: 1000;
  padding: 15px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.badge {
  font-size: 1em; 
  font-weight: bold;
  border-radius: 50%;
  padding: 0.5em 0.75em;
  position: absolute;
  top: 10px;
  right: 10px;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsividade do modal do carrinho */
@media (max-width: 767px) {
  .modal-dialog {
    max-width: 100%;
    margin: 0;
  }

  .modal-content {
    height: 100vh;
    overflow-y: auto;
  }
}
